pandas==2.2.3
numpy==2.0.1
scipy==1.15.3
networkx==3.3
matplotlib==3.10.0
scikit-learn==1.6.1
tqdm
pyvis
openpyxl
node2vec
ipykernel==6.29.5
jupyter
mygene
word2vec
torch==2.7.1
torch_geometric==2.6.1